@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@700&display=swap');

html {
margin: 0;
}

body{
  margin: 0;
  background-color: rgb(172, 122, 122);
  font-family: 'Righteous', cursive;
}

.App {
  text-align: center;
  height: 20px;
  background-color: rgb(34, 62, 99);
}
